/* Try Online CSS */

.try-dialogue {
	width: 100%;
	height: 150px;
	border: 1px solid #CCCCCC;
	padding: 10px;
	margin-bottom: 10px;
	overflow: auto;
}

/* User name colors */
.try-bot {
	color: #0000FF;
	font-weight: bold;
}
.try-user {
	color: #FF0000;
	font-weight: bold;
}
