{% set highlight="download" %}
{% extends "layout.html" %}
{% block title %}RiveScript-Enabled Chatbots{% endblock %}
{% block content %}

<h1>RiveScript-Enabled Chatbots</h1>

Here are some complete chatbot applications that use RiveScript as their
back-end "brain" and bridge RiveScript to a chat interface of some kind, such as
an instant messenger.<p>

Want your chatbot project featured? <a href="/contact">Contact me</a> and I'll
add you to this page! The only requirement is that your project has to use
RiveScript!

<hr>

<h1>Admiral</h1>

Admiral is a Python chatbot that utilizes RiveScript and connects to some chat
platforms.<p>

At the time of writing it only connects to Slack but there are plans to hook it
up to Google Hangouts soon too.<p>

<ul>
	<li>Author: <a href="https://github.com/kirsle">Noah Petherbridge</a></li>
	<li>Language: Python</li>
	<li>Interfaces: Slack</li>
	<li>URL: <a href="https://github.com/aichaos/admiral">https://github.com/aichaos/admiral</a></li>
</ul>

<hr>

<h1>Aires</h1>

Aires is a multi-protocol, multi-brained chatbot with support for connecting a
chatbot to AOL Instant Messenger and XMPP (through which a bot could be signed
on to Google Hangouts or Facebook Messenger via their XMPP interfaces).<p>

It's designed with a plugin architecture so that adding new protocol interfaces
or back-end bot brains is easy. It comes with support built-in for RiveScript as
a back-end brain.<p>

<ul>
	<li>Author: <a href="https://github.com/kirsle">Noah Petherbridge</a></li>
	<li>Language: Python</li>
	<li>Interfaces: AOL Instant Messenger, XMPP</li>
	<li>URL: <a href="https://github.com/aichaos/aires">https://github.com/aichaos/aires</a></li>
</ul>

<hr>

<h1>I.R.I.S. (IRIS Really Is Smart)</h1>

I.R.I.S (IRIS really is smart) is a virtual assistant project that was born in
2010. [...] The core is made in Java, based on Rivescript (A.I.M.L variant). The
project includes the backend application, the web frontend and an android app.
The communication in the first version is made through XMPP and in the second
version via websockets to allow data push.<br>
<em>--Giancarlo Sánchez</em><p>

<ul>
	<li>Author: <a href="https://github.com/gianksp">Giancarlo Sánchez</a></li>
	<li>Language: Java</li>
	<li>URL:
	<ul>
		<li><a href="https://olympus-gianksp.rhcloud.com/portfolio/i-r-i-s-2012/">https://olympus-gianksp.rhcloud.com/portfolio/i-r-i-s-2012/</a></li>
		<li><a href="https://github.com/gianksp/iris-engine">https://github.com/gianksp/iris-engine</a></li>
		<li><a href="https://github.com/gianksp/iris">https://github.com/gianksp/iris</a></li>
	</ul></li>
</ul>

<hr>

<h1>Scarecrow</h1>

Scarecrow is a chatbot written in Go. It connects to Slack and has a console
interface for chatting with the bot locally in your terminal (and it can do both
things simultaneously).<p>

It makes use of Goroutines in Go and runs each bot interface on a separate
thread. Plans to extend its reach to XMPP and other platforms are underway.<p>

It supports RiveScript as its back-end brain but support for other brains
(pluggable) will be possible in the future.<p>

<ul>
	<li>Author: <a href="https://github.com/kirsle">Noah Petherbridge</a></li>
	<li>Language: Go</li>
	<li>Interfaces: Slack, Console</li>
	<li>URL: <a href="https://github.com/aichaos/scarecrow">https://github.com/aichaos/scarecrow</a></li>
</ul>

{% endblock %}
