{% set highlight="download" %}
{% extends "layout.html" %}
{% block title %}RiveScript-Enabled Chatbots{% endblock %}
{% block content %}

<h1>RiveScript-Enabled Chatbots</h1>

Here are some complete chatbot applications that use RiveScript as their
back-end "brain" and bridge RiveScript to a chat interface of some kind, such as
an instant messenger.<p>

Want your chatbot project featured? <a href="/contact">Contact me</a> and I'll
add you to this page! The only requirement is that your project has to use
RiveScript!

<hr>

<h1>Aires Bot</h1>

Aires is a multi-protocol, multi-brained chatbot with support for connecting a
chatbot to AOL Instant Messenger and XMPP (through which a bot could be signed
on to Google Hangouts or Facebook Messenger via their XMPP interfaces).<p>

It's designed with a plugin architecture so that adding new protocol interfaces
or back-end bot brains is easy. It comes with support built-in for RiveScript as
a back-end brain.<p>

<ul>
    <li>Author: <a href="https://github.com/kirsle">Noah Petherbridge</a></li>
    <li>Language: Python</li>
    <li>URL: <a href="https://github.com/aichaos/aires">https://github.com/aichaos/aires</a></li>
</ul>

{% endblock %}
