{% set highlight="community" %}
{% extends "layout.html" %}
{% block title %}Community{% endblock %}
{% block content %}

<h1>Community</h1>

Here are some ways you can get involved with the RiveScript community.<p>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Botmakers Slack</h1>
			</div>
			<div class="panel-body">
				<i class="fa fa-slack fa-3x pull-left fa-border"></i>

				Several contributors and users of RiveScript hang out on the
				<a href="https://botmakers.org/" target="_blank">Botmakers Slack</a>
				organization, and there is a dedicated <code>#rivescript</code>
				channel there.<p>

				Botmakers is a general bot making community with all sorts of
				people and has over a thousand members.<p>

				<a class="btn btn-primary" href="https://botmakers.org/" target="_blank">
				Join Botmakers on Slack</a>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Chatbots.org Forum</h1>
			</div>
			<div class="panel-body">
				<i class="fa fa-group fa-3x pull-left fa-border"></i>

				<a href="https://www.chatbots.org/" target="_blank">Chatbots.org</a>
				is a web forum about chatbots and has a dedicated forum for
				RiveScript, in addition to AIML, ChatScript, and general
				chatbot topics.<p>

				&nbsp;<br>&nbsp;<p>

				<a class="btn btn-primary" href="https://www.chatbots.org/ai_zone/viewforum/48/" target="_blank">
					Go to the Chatbots.org RiveScript Forum
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
