{% set highlight="download" %}
{% extends "layout.html" %}
{% block title %}Use RiveScript{% endblock %}
{% block content %}

<h1>Use RiveScript</h1>

<p>Want to download and use RiveScript? Great! What you'll want to download depends
on what you wish to do with RiveScript.</p>

<hr>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>I want to <strong>run</strong> my own bot</h1>
			</div>
			<div class="panel-body">
				<i class="fa fa-user fa-3x pull-left fa-border"></i>
				Wouldn't call yourself a software developer? Just wanna run your
				own chatbot and get something up and running on AOL Instant
				Messenger or Google Hangouts/Facebook Messenger (XMPP)?<p>

				Check out some cool projects that integrate RiveScript into a
				more complete chatbot application with bells and whistles
				built in.<p>

				<a class="btn btn-primary" href="/bots">
					Download a RiveScript-compatible Chatbot
				</a>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>I want to <strong>program</strong> my own bot</h1>
			</div>
			<div class="panel-body">
				<i class="fa fa-terminal fa-3x pull-left fa-border"></i>
				Are you a software developer who wants to build their own
				chatbot program that uses RiveScript to power its personality?
				Are you using JavaScript, Python, Perl or Java?<p>

				Download a RiveScript library for your programming language and
				hack away. You can intergrate it into your program in no time
				at all!<p>

				<a class="btn btn-primary" href="/interpreters">
					Download a RiveScript Interpreter Library
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>I just want to <strong>try</strong> RiveScript ASAP</h1>
			</div>
			<div class="panel-body">
				<i class="fa fa-pencil fa-3x pull-left fa-border"></i>
				Just want to give RiveScript a try as soon as possible without
				downloading anything first?<p>

				<a class="btn btn-primary" href="/learn">
					Test Drive RiveScript Online
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
