{% set highlight="learn" %}
{% extends "layout.html" %}
{% block title %}Learn RiveScript{% endblock %}
{% block content %}

<h1>Learn RiveScript</h1>

<div class="panel panel-default">
	<div class="panel-heading"><strong>RiveScript Tutorial</strong></div>
	<div class="panel-body">
		Using the tutorial is the best way to learn the ins and outs of the
		RiveScript scripting language!<p>

		<a class="btn btn-primary" href="/docs/tutorial">RiveScript Tutorial</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><strong>Try RiveScript Online</strong></div>
	<div class="panel-body">
		You can test out RiveScript directly in your browser! This will use the
		JavaScript version of RiveScript and enable you to write and test code
		with immediate feedback.<p>

		<a class="btn btn-primary" href="/try">Try RiveScript Online</a>
	</div>
</div>

{% endblock %}
