/* Monokai Bright highlight theme, converted from
 * http://tmtheme-editor.herokuapp.com/#/theme/Monokai%20Bright
 * Using: https://github.com/davinche/pygments-from-tmtheme
 */
.codehilite { background-color: #272822; color: #F8F8F2; }
.codehilite .ge { font-style: italic; }
.codehilite .gs { font-weight: bold; }
.codehilite .c { color: #75715E; }
.codehilite .cp { color: #75715E; }
.codehilite .c1 { color: #75715E; }
.codehilite .cs { color: #75715E; }
.codehilite .cm { color: #75715E; }
.codehilite .m { color: #AE81FF; }
.codehilite .mf { color: #AE81FF; }
.codehilite .mi { color: #AE81FF; }
.codehilite .mo { color: #AE81FF; }
.codehilite .se { color: #AE81FF; }
.codehilite .kc { color: #AE81FF; }
.codehilite .k { color: #66D9EF; font-style: italic; }
.codehilite .kd { color: #66D9EF; font-style: italic; }
.codehilite .kn { color: #F92672; }
.codehilite .kt { color: #66D9EF; font-style: italic; }
.codehilite .s { color: #999900; }
.codehilite .sb { color: #999900; }
.codehilite .sc { color: #999900; }
.codehilite .sd { color: #999900; }
.codehilite .s2 { color: #999900; }
.codehilite .sh { color: #999900; }
.codehilite .si { color: #999900; }
.codehilite .sx { color: #999900; }
.codehilite .sr { color: #999900; }
.codehilite .s1 { color: #999900; }
.codehilite .ss { color: #999900; }
.codehilite .na { color: #009900; }
.codehilite .nc { color: #009900; font-style: italic; text-decoration: underline; }
.codehilite .no { color: #AE81FF; }
.codehilite .nd { color: #009900; text-decoration: underline; }
.codehilite .ne { color: #009900; text-decoration: underline; }
.codehilite .nf { color: #009900; }
.codehilite .nt { color: #F92672; }
.codehilite .nv { color: #F8F8F2; }
.codehilite .ow { color: #F92672; }
.codehilite .o { color: #F92672; }
.codehilite .n { color: #F8F8F2; }
.codehilite .nl { color: #F8F8F2; }
.codehilite .nn { color: #F8F8F2; }
.codehilite .nx { color: #F8F8F2; }
.codehilite .bp { color: #F8F8F2; }
.codehilite .p { color: #F8F8F2; }

/* Kirsle.net overrides */
.codehilite { background-color: transparent }
